// Place all the styles related to the Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table {
  border: 2px solid black;
}
td {
  border: 1px solid black;
  padding: 2px 5px;
}

#main_wrapper {
  width: 600px;
  margin: auto;
}
