// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span {
  border: 1px solid black;
  padding: 2px 5px;
}

#main_wrapper {
  width: 600px;
  margin: auto;
}

a {
  text-decoration: none;
}
